.menuPage {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(#fff, 1);
  border: 1px solid rgba(#fff, 1);
  @supports (backdrop-filter: blur(0.5rem)) {
    backdrop-filter: blur(0.5rem);
    background-color: rgba(#fff, 0.8);
  }
}

.show {
  display: var(--display-menu, block);
  animation: slideInMenu 0.4s ease-in-out forwards;
}

.hide {
  display: var(--display-menu, hide);
  animation: slideOutMenu 0.4s ease-in-out forwards;
}

@keyframes slideInMenu {
  0% {
    --display-menu: block;
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutMenu {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    --display-menu: none;
    opacity: 0;
    transform: translateX(100%);
  }
}
