@use 'sass:map';
@use 'sass:string';

$breakpoints: (
  small: 768px,
  medium: 1200px,
  large: 1440px,
);

$media-expression: (
  small: '(max-width: 768px)',
  medium: '(max-width: 1200px)',
  large: '(min-width: 1200px)',
);
