$clr: (
  // Primary colors
  white: #ffffff,
  skyBlue: #6dcefe,
  nexusBlue: #0ca4fb,
  oceanBlue: #025e93,
  midnightBlue: #012235,
  oxfordBlue: #011b35,
  prussianBlue: #000e16,

  // grey shades
  grey-1: #e3e7eb,
  grey-2: #d9d9d9,
  grey-3: #a6a6a6,
  grey-4: #4b4b4b,
  grey-5: #404040,
  grey-6: #1b1b1b,
  grey-7: #0b0b0b,

  black: #000000,

  // tirtiary colors
  lime-green: #15e015,
  medium-spring: #15e081,
  dark-turquoise: #15d2e0,
  blue: #1523e0,
  electric-purple: #b715e0,
  fashion-fuchsia: #e0159c,
  maximum-red: #e11515,
  fulvous: #e18215,
  sheen-green: #8fe115,
  malachite: #15e14b,
  medium-aquamarine: #15e1b8,
  carolina-blue: #159de1
);
