// MavenPro
@font-face {
  font-family: 'MavenPro';
  src: url('../../assets/fonts/MavenPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../../assets/fonts/MavenPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../../assets/fonts/MavenPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../../assets/fonts/MavenPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../../assets/fonts/MavenPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../../assets/fonts/MavenPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// Jomhuria
@font-face {
  font-family: 'Jomhuria';
  src: url('../../assets/fonts/Jomhuria-Regular.ttf') format('truetype');
  font-style: normal;
}
