@use 'sass:map';
@use '../functions/getData' as *;

// TODO: Add project theme colors here
$themes: (
  light: (
    bg-primary: clr(white),
    bg-secondary: clr(grey-1),
    text-primary: clr(midnightBlue),
    text-secondary: clr(oceanBlue),
  ),
  dark: (
    bg-primary: clr(midnightBlue),
    bg-secondary: clr(prussianBlue),
    text-primary: clr(white),
    text-secondary: clr(grey-1),
  ),
);

// IMPORTANT: manual override of theme colors can be done by adding
// data-user-theme='light' or data-user-theme='dark' attribute to the body element.
