/* fonts size ans weights */
// TODO: need work on this font sizes
$font: (
  size: (
    xxxs: 0.375rem,
    xxs: 0.5rem,
    xs: 0.75rem,
    s: 0.92rem,
    m: 1rem,
    xm: 1.25rem,
    l: 1.5rem,
    xl: 2rem,
    xxl: 3rem,
    xxxl: 4rem,
  ),
  weight: (
    normal: 400,
    regular: 400,
    medium: 500,
    semi: 600,
    bold: bold,
    extraBold: 800,
    black: 900,
  ),
);
