@use 'sass:map';

/* spaces */
$space: (
  xxxxs: 0.125rem /* 2px */,
  xxxs: 0.25rem /* 4px */,
  xxs: 0.5rem /* 8px */,
  xs: 0.75rem /* 12px */,
  s: 1rem /* 16px */,
  m: 1.25rem /* 20px */,
  xm: 1.5rem /* 24px */,
  l: 1.5rem /* 32px */,
  xl: 2rem /* 48px */,
  xxl: 3rem /* 72px */,
  xxxl: 4rem /* 96px */,
);

$size: (
  border-radius: map-get($space, xxxs),
  padding: map-get($space, xxxs),
  box-shadow: 0 map-get($space, xxxs) map-get($space, xxs) rgba(0, 0, 0, 0.25),
  z-level-1: 1,
  z-level-2: 2,
  z-level-3: 5,
  z-level-4: 9,
  z-level-5: 11,
);
