/* spaces */
$space: (
  xxxxs: 0.125rem /* 2px */,
  xxxs: 0.25rem /* 4px */,
  xxs: 0.5rem /* 8px */,
  xs: 0.75rem /* 12px */,
  s: 1rem /* 16px */,
  m: 1.25rem /* 20px */,
  xm: 1.5rem /* 24px */,
  l: 1.5rem /* 32px */,
  xl: 2rem /* 48px */,
  xxl: 3rem /* 72px */,
  xxxl: 4rem /* 96px */,
);
