$clr-white: hsla(0, 0%, 100%, 1);
$clr-sky-blue: hsla(200, 99%, 71%, 1);
$clr-nexus-blue: hsla(202, 97%, 52%, 1);
$clr-ocean-blue: hsla(202, 97%, 29%, 1);
$clr-prussian-blue: hsla(202, 96%, 11%, 1);
$clr-oxford-blue: hsla(210, 96%, 11%, 1);
$clr-midnight-blue: hsla(202, 100%, 4%, 1);

//  grey shades
$clr-grey-1: hsla(210, 17%, 91%, 1);
$clr-grey-2: hsla(0, 0%, 85%, 1);
$clr-grey-3: hsla(0, 0%, 65%, 1);
$clr-grey-4: hsla(0, 0%, 30%, 1);
$clr-grey-5: hsla(0, 0%, 25%, 1);
$clr-grey-6: hsla(0, 0%, 11%, 1);
$clr-grey-7: hsla(0, 0%, 4%, 1);
