// MavenPro-VariableFont_wght
@font-face {
  font-family: 'MavenPro';
  src: url('../assets/fonts/MavenPro-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Jomhuria';
  src: url('../assets/fonts/Jomhuria-Regular.ttf') format('truetype');
}

$default-font-family: MavenPro;
