@use './fonts' as *;
@use './variables' as *;
@use './colors' as *;

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $default-font-family;
}

a {
  color: inherit;
  text-decoration: none;
}

// ! we cannot use --css-variables as sass doesnt assign values to them as expected.
// .theme-dark {
// --theme-background: $bg-color;
// }

// :root,
// .light {
//   background-color: $clr-grey-1;
//   color: $clr-grey-7;
// }

// .dark {
//   background-color: $clr-grey-2;
//   color: $clr-grey-7;
// }

//! above snippets wont this wont work

$color-scheme-dark: $clr-grey-1, $clr-grey-7;

@mixin theme($textColor, $bgColor) {
  color: $textColor;
  background-color: $bgColor;
}

.button {
  @include theme($color-scheme-dark...);
}
