@use './fonts' as *;
@use './variables' as *;

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $default-font-family;
}

a {
  color: inherit;
  text-decoration: none;
}
