@use 'sass:map';
@use '../abstracts/color' as *;
@use '../abstracts/typography' as *;
@use '../abstracts/variables' as *;

/**
 function to get sass font size variables 
 eg: font-size: font-size(m);
 */
@function font-size($value) {
  $fontSize: map.get($font, size);
  @return map.get($fontSize, $value);
}

/**
 function to get sass font size variables 
 eg: font-weight: font-weight(bold);
 */
@function font-weight($value) {
  $fontSize: map.get($font, weight);
  @return map.get($fontSize, $value);
}

/**
  function to get sass space variables
  eg: padding: space(m);
  */
@function space($value) {
  @return map.get($space, $value);
}

/**
  function to get sass theme variables
  eg: color: theme(primary);
  */
@function theme($value) {
  @return var(--#{$value});
}
