@use '@styles/utils' as *;

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  // overflow: hidden;
  // overflow-x: auto;
  overflow-y: visible;
  z-index: 500;
}

.nav_buttons {
  display: flex;
  gap: 1rem;
}

@include mq(medium) {
  .nav {
    height: 150px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
