@use '@styles/utils' as *;

.footer {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  padding: space(xl);
  gap: 1rem;

  .section1 {
    display: flex;
    justify-content: space-between;

    .downloadLinks,
    .aboutNexus {
      display: flex;
      flex-direction: column;

      p {
        font-weight: bold;
      }
    }

    .downloadLinks {
      a {
        :hover {
          transition: all 0.2s;
          transform-origin: 50% 50%;
          transform: scale(0.96);
        }
      }
    }

    .aboutNexus {
      p {
        margin-bottom: space(xs);
      }
    }

    .aboutItem {
      display: flex;
      gap: 0.5rem;
      :hover {
        color: var(--text-secondary);
      }
    }
  }

  .section2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    div {
      display: flex;
      gap: 1rem;
      :hover {
        transition: all 0.5s;
        transform-origin: 50% 50%;
        transform: scale(1.1);
      }
    }
  }

  .section3 {
    display: flex;
    flex-direction: column;
    :hover {
      color: var(--text-secondary);
    }
  }
}

@include mq(small) {
  .footer {
    padding: space(s);
  }
}
