@use '@styles/colors' as *;

.container {
  display: flex;
  gap: 1rem;
  background-color: var(--theme-ticker-bar-background);
  white-space: nowrap;
  overflow: auto hidden;
  justify-content: space-around;
}

.container::-webkit-scrollbar {
  display: none;
}
