@use '@styles/index' as *;

.container {
  display: flex;
  gap: 1rem;
  background-color: var(--theme-ticker-bar-background, clr(grey-1));
  white-space: nowrap;
  overflow: auto;
  justify-content: space-between;
  padding: 0 1rem;
  height: 2rem;
  align-items: center;
}

.container::-webkit-scrollbar {
  display: none;
}
