@use '@styles/utils' as *;

.pagination {
  color: theme(text-primary);
  background: theme(bg-primary);
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0.0625rem 0.125rem 0 #0003;
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    color: clr(nexusBlue);
    &__icon {
      all: unset;
      border: none;
      background: none;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        outline: 1px solid clr(nexusBlue);
        border-radius: 0.25rem;
        color: clr(nexusBlue);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
        outline: none;
        color: clr(skyBlue);
      }
    }

    &__page {
      margin: 0 1rem;
      color: theme(text-primary);
    }
  }

  &__goToPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &::before {
      content: '|';
      font-size: font-size(xl);
      color: hsla(197, 100%, 31%, 0.5);
      margin-right: 0.5rem;
    }

    &__pageSelect {
      input {
        background: hsla(0, 0%, 100%, 0.5);
        padding: 0.3rem;
        border: 1px solid clr(skyBlue);
        border-radius: 0.25rem;
        color: clr(midnightBlue);
        font-size: font-size(s);

        &:focus {
          background: hsla(0, 0%, 100%, 1);
          outline-color: clr(nexusBlue);
        }
      }
    }

    &__pageDropdown {
      padding: 0.3rem;
      border: 1px solid clr(skyBlue);
      border-radius: 0.25rem;
      color: clr(midnightBlue);
      background: hsla(0, 0%, 100%, 0.5);
      font-size: font-size(s);

      &:focus {
        background: hsla(0, 0%, 100%, 1);
        outline-color: clr(nexusBlue);
      }
    }
  }
}

@media (max-width: 768px) {
  .pagination {
    flex-direction: column;

    &__goToPage {
      &::before {
        content: '';
      }
    }
  }
}
