@use '@styles/utils' as *;

.tableContainer {
  overflow: auto;
  margin-bottom: space(l);
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: theme(text-primary);
  background: theme(bg-primary);
  border-radius: 4px;
  box-shadow: var(--card-shadow);
  font-size: font-size(s);
  font-variant-numeric: tabular-nums;
  overflow: auto;
}

.thead {
  text-align: left;
}

.thead > tr > th {
  padding: 0.6rem;
  background: theme(bg-secondary);
  color: theme(text-primary);
}

.th {
  font-weight: normal;
}

.tbody {
  margin-top: 1rem;
}

.tr {
  border-top: 1px solid theme(bg-secondary);
}

.td {
  padding: 10px;
}

.thead tr {
  border: none;
  & th:first-child {
    border-top-left-radius: space(xxxs);
  }
  & th:last-child {
    border-top-right-radius: space(xxxs);
  }
}

.tbody tr:last-child {
  & td:first-child {
    border-bottom-left-radius: space(xxxs);
  }
  & td:last-child {
    border-bottom-right-radius: space(xxxs);
  }
}

.noRecords {
  color: theme(text-primary);
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
}
