@use '@styles/index' as *;

.container {
  overflow: scroll;
}

.thead {
  // "h-10 shadow-sm"
  height: 10px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.tr {
  // "h-10 shadow-sm font-medium"
  height: 2rem;
  font-weight: 500;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.tbody {
  // "text-center"
  text-align: center;
}

.icon_container {
  position: relative;
}
.icon_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: Jomhuria;
  color: #fff;
}

.token_container {
  display: flex;
  align-items: center;
  gap: $space-xxs;
}
